.page-container {
	padding: 5vh 5vh;
	border: 0;
	border-radius: 2vh;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin-top: 1vh;
}


.nav {
	border: 0.2vh solid gainsboro;
	margin-top: 2vh;
	margin-bottom: 3.5vh;
	height: 10vh;
	place-items: center;
	border-radius: 10vh;
	background-color: rgba(200, 200, 200, 0.5);
	display: grid;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
	float: top;
}

.navtxt {
	font-size: min(4vw, 4vh);
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: min(1vh, 1vw);
}

.navp {
	color: black;
}

.text {
	border: 0.2vh solid black;
	border-radius: 1vh;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 3vh;
}

.mouse {
	background-color: gainsboro;
}

.app {
	margin: 3vh 3vh;
	font-size: 24px;
	color: #333;
	border-radius: 1vh;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropbtn {
	padding-left: 3vh;
	border: 0.2vh solid black;
	border-radius: 1vh;
	font-size: 8vmin;
	cursor: pointer;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .togtxt {
	font-size: 5vmin;
	color: black;
	padding: 1vh 5vw;
	display: block;
}

.dropdown-content .togtxt:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgb(200, 200, 200);
}

.hover:hover 
{
	background-color: rgb(226, 226, 226);
}